<a href="https://colab.research.google.com/github/rubuntu/uaa-417-sistemas-de-gestion-de-bases-de-datos-avanzados/blob/main/dbt_sakila_dw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Instalar los paquetes necesarios
!pip install ipython-sql psycopg2-binary dbt-core dbt-postgres

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.10/dist-packages (2.9.10)
Requirement already satisfied: dbt-core in /usr/local/lib/python3.10/dist-packages (1.8.8)
Requirement already satisfied: dbt-postgres in /usr/local/lib/python3.10/dist-packages (1.8.2)
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: agate<1.10,>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (1.9.1)
Requirement already satisfied: Jinja2<4,>=3.1.3 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (3.1.4)
Requirement already satisfied: mashumaro<4.0,>=3.9 in /usr/local/lib/python3.10/dist-packages (from mashumaro[msgpack]<4.0,>=3.9->dbt-core) (3.14)
Requirement already satisfied: logbook<1.6,>=1.5 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (1.5.3)
Requirement already satisfied: click<9.0,>=8.0.2 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (8.1.7)
Requirement already satisfied: networkx<4.0,>=2.3 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (3.4.2)
Requirement already satisfied: protobuf<5,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (4.25.5)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (2.32.3)
Requirement already satisfied: pathspec<0.13,>=0.9 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (0.12.1)
Requirement already satisfied: dbt-extractor<=0.6,>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (0.5.1)
Requirement already satisfied: minimal-snowplow-tracker<0.1,>=0.0.2 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (0.0.2)
Requirement already satisfied: dbt-semantic-interfaces<0.6,>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (0.5.1)
Requirement already satisfied: dbt-common<1.11.0,>=1.0.4 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (1.10.0)
Requirement already satisfied: dbt-adapters<1.7.1,>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (1.7.0)
Requirement already satisfied: packaging>20.9 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (24.2)
Requirement already satisfied: pytz>=2015.7 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (2024.2)
Requirement already satisfied: pyyaml>=6.0 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (6.0.2)
Requirement already satisfied: daff>=1.3.46 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (1.3.46)
Requirement already satisfied: typing-extensions>=4.4 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (4.12.2)
Requirement already satisfied: Babel>=2.0 in /usr/local/lib/python3.10/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (2.16.0)
Requirement already satisfied: isodate>=0.5.4 in /usr/local/lib/python3.10/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (0.6.1)
Requirement already satisfied: leather>=0.3.2 in /usr/local/lib/python3.10/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (0.4.0)
Requirement already satisfied: parsedatetime!=2.5,>=2.1 in /usr/local/lib/python3.10/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (2.6)
Requirement already satisfied: python-slugify>=1.2.1 in /usr/local/lib/python3.10/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (8.0.4)
Requirement already satisfied: pytimeparse>=1.1.5 in /usr/local/lib/python3.10/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (1.1.8)
Requirement already satisfied: colorama<0.5,>=0.3.9 in /usr/local/lib/python3.10/dist-packages (from dbt-common<1.11.0,>=1.0.4->dbt-core) (0.4.6)
Requirement already satisfied: deepdiff<8.0,>=7.0 in /usr/local/lib/python3.10/dist-packages (from dbt-common<1.11.0,>=1.0.4->dbt-core) (7.0.1)
Requirement already satisfied: jsonschema<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from dbt-common<1.11.0,>=1.0.4->dbt-core) (4.23.0)
Requirement already satisfied: python-dateutil<3.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from dbt-common<1.11.0,>=1.0.4->dbt-core) (2.8.2)
Requirement already satisfied: importlib-metadata<7,>=6.0 in /usr/local/lib/python3.10/dist-packages (from dbt-semantic-interfaces<0.6,>=0.5.1->dbt-core) (6.11.0)
Requirement already satisfied: more-itertools<11.0,>=8.0 in /usr/local/lib/python3.10/dist-packages (from dbt-semantic-interfaces<0.6,>=0.5.1->dbt-core) (10.5.0)
Requirement already satisfied: pydantic<3,>=1.10 in /usr/local/lib/python3.10/dist-packages (from dbt-semantic-interfaces<0.6,>=0.5.1->dbt-core) (2.9.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2<4,>=3.1.3->dbt-core) (3.0.2)
Requirement already satisfied: msgpack>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from mashumaro[msgpack]<4.0,>=3.9->dbt-core) (1.1.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->dbt-core) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->dbt-core) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->dbt-core) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->dbt-core) (2024.8.30)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: ordered-set<4.2.0,>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from deepdiff<8.0,>=7.0->dbt-common<1.11.0,>=1.0.4->dbt-core) (4.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata<7,>=6.0->dbt-semantic-interfaces<0.6,>=0.5.1->dbt-core) (3.21.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<1.11.0,>=1.0.4->dbt-core) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<1.11.0,>=1.0.4->dbt-core) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<1.11.0,>=1.0.4->dbt-core) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<1.11.0,>=1.0.4->dbt-core) (0.21.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.10->dbt-semantic-interfaces<0.6,>=0.5.1->dbt-core) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.10->dbt-semantic-interfaces<0.6,>=0.5.1->dbt-core) (2.23.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify>=1.2.1->agate<1.10,>=1.7.0->dbt-core) (1.3)

In [2]:
# Actualizar los paquetes e instalar PostgreSQL
!apt-get update -y
!apt-get install postgresql postgresql-contrib -y

# Iniciar el servicio de PostgreSQL
import os
os.system('service postgresql start')

# Cambiar la contraseña del usuario 'postgres'
!sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'postgres';"

# Crear una nueva base de datos llamada 'pagila'
!sudo -u postgres createdb pagila

# Crear una nueva base de datos llamada 'pagila_dw'
!sudo -u postgres createdb pagila_dw

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,108 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:8 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,616 kB]
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:10 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,425 kB]
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:13 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:14 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,482 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,164 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,701 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,453 kB]
Fetched 20.3 MB in 3s (7,506 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common ssl-cert sysstat
Suggested packages:
  bsd-mailx | mailx postgresql-doc postgresql-doc-14 isag
The following NEW packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common
  postgresql-contrib ssl-cert sysstat
0 upgraded, 14 newly installed, 0 to remove and 55 not upgraded.
Need to get 18.4 MB of archives.
After this operation, 51.7 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 logrotate amd64 3.19.0-1ubuntu1.1 [54.3 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 netbase all 6.3 [12.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcommon-sense-perl amd64 3.75-2build1 [21.1 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-perl all 4.04000-1 [81.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libtypes-serialiser-perl all 1.01-1 [11.6 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-xs-perl amd64 4.030-1build3 [87.2 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-client-common all 238 [29.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-client-14 amd64 14.13-0ubuntu0.22.04.1 [1,225 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 ssl-cert all 1.1.2 [17.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-common all 238 [169 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-14 amd64 14.13-0ubuntu0.22.04.1 [16.2 MB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql all 14+238 [3,288 B]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-contrib all 14+238 [3,292 B]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sysstat amd64 12.5.2-2ubuntu0.2 [487 kB]
Fetched 18.4 MB in 1s (13.5 MB/s)
Preconfiguring packages ...
Selecting previously unselected package logrotate.
(Reading database ... 123629 files and directories currently installed.)
Preparing to unpack .../00-logrotate_3.19.0-1ubuntu1.1_amd64.deb ...
Unpacking logrotate (3.19.0-1ubuntu1.1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../01-netbase_6.3_all.deb ...
Unpacking netbase (6.3) ...
Selecting previously unselected package libcommon-sense-perl:amd64.
Preparing to unpack .../02-libcommon-sense-perl_3.75-2build1_amd64.deb ...
Unpacking libcommon-sense-perl:amd64 (3.75-2build1) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../03-libjson-perl_4.04000-1_all.deb ...
Unpacking libjson-perl (4.04000-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../04-libtypes-serialiser-perl_1.01-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.01-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../05-libjson-xs-perl_4.030-1build3_amd64.deb ...
Unpacking libjson-xs-perl (4.030-1build3) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../06-postgresql-client-common_238_all.deb ...
Unpacking postgresql-client-common (238) ...
Selecting previously unselected package postgresql-client-14.
Preparing to unpack .../07-postgresql-client-14_14.13-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-client-14 (14.13-0ubuntu0.22.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../08-ssl-cert_1.1.2_all.deb ...
Unpacking ssl-cert (1.1.2) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../09-postgresql-common_238_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (238) ...
Selecting previously unselected package postgresql-14.
Preparing to unpack .../10-postgresql-14_14.13-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-14 (14.13-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../11-postgresql_14+238_all.deb ...
Unpacking postgresql (14+238) ...
Selecting previously unselected package postgresql-contrib.
Preparing to unpack .../12-postgresql-contrib_14+238_all.deb ...
Unpacking postgresql-contrib (14+238) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../13-sysstat_12.5.2-2ubuntu0.2_amd64.deb ...
Unpacking sysstat (12.5.2-2ubuntu0.2) ...
Setting up logrotate (3.19.0-1ubuntu1.1) ...
Created symlink /etc/systemd/system/timers.target.wants/logrotate.timer → /lib/systemd/system/logrotate.timer.
Setting up libcommon-sense-perl:amd64 (3.75-2build1) ...
Setting up ssl-cert (1.1.2) ...
Setting up libtypes-serialiser-perl (1.01-1) ...
Setting up libjson-perl (4.04000-1) ...
Setting up netbase (6.3) ...
Setting up sysstat (12.5.2-2ubuntu0.2) ...

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-collect.timer → /lib/systemd/system/sysstat-collect.timer.
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-summary.timer → /lib/systemd/system/sysstat-summary.timer.
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up postgresql-client-common (238) ...
Setting up libjson-xs-perl (4.030-1build3) ...
Setting up postgresql-client-14 (14.13-0ubuntu0.22.04.1) ...
update-alternatives: using /usr/share/postgresql/14/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-common (238) ...
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
Setting up postgresql-14 (14.13-0ubuntu0.22.04.1) ...
Creating new PostgreSQL cluster 14/main ...
/usr/lib/postgresql/14/bin/initdb -D /var/lib/postgresql/14/main --auth-local peer --auth-host scram-sha-256 --no-instructions
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/14/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok
update-alternatives: using /usr/share/postgresql/14/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-contrib (14+238) ...
Setting up postgresql (14+238) ...
Processing triggers for man-db (2.10.2-1) ...
ALTER ROLE

In [3]:
# Descargar el script de creación del esquema de Pagila
!wget https://raw.githubusercontent.com/devrimgunduz/pagila/master/pagila-schema.sql

# Descargar el script de inserción de datos de Pagila
!wget https://raw.githubusercontent.com/devrimgunduz/pagila/master/pagila-data.sql

--2024-11-15 20:21:13--  https://raw.githubusercontent.com/devrimgunduz/pagila/master/pagila-schema.sql
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 52422 (51K) [text/plain]
Saving to: ‘pagila-schema.sql’

pagila-schema.sql   100%[===================>]  51.19K  --.-KB/s    in 0.008s

2024-11-15 20:21:13 (5.99 MB/s) - ‘pagila-schema.sql’ saved [52422/52422]

--2024-11-15 20:21:13--  https://raw.githubusercontent.com/devrimgunduz/pagila/master/pagila-data.sql
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3310905 (3.2M) [text/plain]
Saving to: ‘pagila-data.sql’

pagila-data.sql     100%[===================>]   3.16M  --.-KB/s    in 0.05s

2024-11-15 20:21:13 (61.3 MB/s) - ‘pagila-data.sql’ saved [3310905/3310905]

In [4]:
# Ejecutar el script de creación del esquema
!sudo -u postgres psql pagila < pagila-schema.sql

# Ejecutar el script de inserción de datos
!sudo -u postgres psql pagila < pagila-data.sql

SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
ALTER SCHEMA
CREATE DOMAIN
ALTER DOMAIN
CREATE TYPE
ALTER TYPE
CREATE DOMAIN
ALTER DOMAIN
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE FUNCTION
ALTER FUNCTION
CREATE SEQUENCE
ALTER TABLE
SET
SET
CREATE TABLE
ALTER TABLE
CREATE FUNCTION
ALTER FUNCTION
CREATE AGGREGATE
ALTER AGGREGATE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE MATERIALIZED VIEW
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE SEQUENCE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE VIEW
ALTER TABLE
CREATE VIEW
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
CREATE TRIGGER
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
ALTER TABLE
REVOKE
GRANT
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
COPY 200
COPY 109
COPY 600
COPY 603
COPY 16
COPY 500
COPY 599
COPY 6
COPY 1000
COPY 5462
COPY 2367
COPY 4581
COPY 1500
COPY 16044
COPY 723
COPY 2401
COPY 2713
COPY 2547
COPY 2677
COPY 2654
COPY 2334
 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
   1500
(1 row)

 setval
--------
    500
(1 row)

In [5]:
import psycopg2

# Configuración de conexión
postgres_config = {
    'user': 'postgres',
    'password': 'postgres',
    'host': 'localhost',
    'port': '5432',
    'database': 'pagila',
}

# Conexión a la base de datos
conn = psycopg2.connect(**postgres_config)
cursor = conn.cursor()

# Listar las tablas en el esquema público
cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")
tables = cursor.fetchall()
print("Tablas en la base de datos pagila:")
for table in tables:
    print(table[0])

cursor.close()
conn.close()

Tablas en la base de datos pagila:
film_actor
address
city
actor
actor_info
category
country
customer
customer_list
film_list
nicer_but_slower_film_list
film
film_category
inventory
language
sales_by_film_category
rental
sales_by_store
staff_list
payment
store
payment_p2022_02
payment_p2022_07
payment_p2022_04
payment_p2022_05
staff
payment_p2022_01
payment_p2022_03
payment_p2022_06

## Proyecto dbt

In [6]:
# Crear un directorio para el proyecto dbt
!mkdir pagila_dw_project
%cd pagila_dw_project

# Inicializar el proyecto dbt
#!dbt init pagila_dw_project

# Crear el directorio de modelos
!mkdir models

/content/pagila_dw_project

In [7]:
# Crear el directorio .dbt si no existe
!mkdir -p /root/.dbt

# Escribir el archivo profiles.yml
profiles_yml = """
pagila_dw_project:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      user: postgres
      password: postgres
      port: 5432
      dbname: pagila
      schema: dw
      threads: 4
      keepalives_idle: 0
"""

with open('/root/.dbt/profiles.yml', 'w') as f:
    f.write(profiles_yml)

In [8]:
sources_yml = """
version: 2

sources:
  - name: pagila
    schema: public
    tables:
      - name: actor
      - name: address
      - name: category
      - name: city
      - name: country
      - name: customer
      - name: film
      - name: film_actor
      - name: film_category
      - name: inventory
      - name: language
      - name: payment
      - name: rental
      - name: staff
      - name: store
"""

with open('models/sources.yml', 'w') as f:
    f.write(sources_yml)

In [9]:
dim_pelicula_sql = """
{{ config(materialized='table') }}



WITH film_base AS (
    SELECT
        film_id,
        title AS titulo,
        description AS descripcion,
        release_year AS anio_lanzamiento,
        language_id,
        rental_duration AS duracion_renta,
        rental_rate AS tasa_renta,
        length AS duracion,
        replacement_cost AS costo_reemplazo,
        rating AS clasificacion,
        special_features AS caracteristicas_especiales,
        last_update AS fecha_ultima_actualizacion
    FROM {{ source('pagila', 'film') }}
),
idioma AS (
    SELECT
        language_id,
        name AS idioma
    FROM {{ source('pagila', 'language') }}
),
categoria AS (
    SELECT
        fc.film_id,
        c.name AS categoria
    FROM {{ source('pagila', 'film_category') }} AS fc
    JOIN {{ source('pagila', 'category') }} AS c ON fc.category_id = c.category_id
)

SELECT
    ROW_NUMBER() OVER (ORDER BY fb.film_id) AS pelicula_key,
    fb.film_id,
    fb.titulo,
    fb.descripcion,
    fb.anio_lanzamiento,
    i.idioma,
    fb.duracion_renta,
    fb.tasa_renta,
    fb.duracion,
    fb.costo_reemplazo,
    fb.clasificacion,
    fb.caracteristicas_especiales,
    c.categoria,
    fb.fecha_ultima_actualizacion
FROM film_base AS fb
LEFT JOIN idioma AS i ON fb.language_id = i.language_id
LEFT JOIN categoria AS c ON fb.film_id = c.film_id

"""

with open('models/dim_pelicula.sql', 'w') as f:
    f.write(dim_pelicula_sql)

In [10]:
dim_cliente_sql = """
{{ config(materialized='table') }}



SELECT
    ROW_NUMBER() OVER (ORDER BY customer_id) AS cliente_key,
    c.customer_id,
    c.first_name AS nombre,
    c.last_name AS apellido,
    c.email,
    c.active AS activo,
    a.address AS direccion,
    ci.city AS ciudad,
    co.country AS pais,
    c.create_date AS fecha_creacion,
    c.last_update AS fecha_ultima_actualizacion
FROM {{ source('pagila', 'customer') }} AS c
JOIN {{ source('pagila', 'address') }} AS a ON c.address_id = a.address_id
JOIN {{ source('pagila', 'city') }} AS ci ON a.city_id = ci.city_id
JOIN {{ source('pagila', 'country') }} AS co ON ci.country_id = co.country_id
"""

with open('models/dim_cliente.sql', 'w') as f:
    f.write(dim_cliente_sql)

In [11]:
dim_empleado_sql = """
{{ config(materialized='table') }}



SELECT
    ROW_NUMBER() OVER (ORDER BY s.staff_id) AS empleado_key,
    s.staff_id,
    s.first_name AS nombre,
    s.last_name AS apellido,
    s.email,
    s.store_id AS tienda_id,
    s.active AS activo,
    s.username AS nombre_usuario,
    s.last_update AS fecha_ultima_actualizacion
FROM {{ source('pagila', 'staff') }} AS s
"""

with open('models/dim_empleado.sql', 'w') as f:
    f.write(dim_empleado_sql)

In [12]:
dim_tienda_sql = """
{{ config(materialized='table') }}



SELECT
    ROW_NUMBER() OVER (ORDER BY st.store_id) AS tienda_key,
    st.store_id,
    st.manager_staff_id AS gerente_staff_id,
    a.address AS direccion,
    ci.city AS ciudad,
    co.country AS pais,
    a.postal_code AS codigo_postal,
    a.phone AS telefono,
    st.last_update AS fecha_ultima_actualizacion
FROM {{ source('pagila', 'store') }} AS st
JOIN {{ source('pagila', 'address') }} AS a ON st.address_id = a.address_id
JOIN {{ source('pagila', 'city') }} AS ci ON a.city_id = ci.city_id
JOIN {{ source('pagila', 'country') }} AS co ON ci.country_id = co.country_id
"""

with open('models/dim_tienda.sql', 'w') as f:
    f.write(dim_tienda_sql)

In [13]:
dim_tiempo_sql = """
{{ config(materialized='table') }}



WITH date_range AS (
    SELECT
        MIN(DATE(rental_date)) AS start_date,
        MAX(DATE(rental_date)) AS end_date
    FROM {{ source('pagila', 'rental') }}
),

dates AS (
    SELECT
        generate_series(
            (SELECT start_date FROM date_range),
            (SELECT end_date FROM date_range),
            interval '1 day'
        )::date AS fecha
)

SELECT
    ROW_NUMBER() OVER (ORDER BY fecha) AS tiempo_key,
    fecha,
    EXTRACT(DAY FROM fecha)::INT AS dia,
    EXTRACT(MONTH FROM fecha)::INT AS mes,
    EXTRACT(YEAR FROM fecha)::INT AS anio,
    EXTRACT(QUARTER FROM fecha)::INT AS trimestre,
    TO_CHAR(fecha, 'Day') AS nombre_dia,
    TO_CHAR(fecha, 'Month') AS nombre_mes,
    CASE WHEN EXTRACT(ISODOW FROM fecha) IN (6,7) THEN TRUE ELSE FALSE END AS es_fin_de_semana
FROM dates
ORDER BY fecha
"""

with open('models/dim_tiempo.sql', 'w') as f:
    f.write(dim_tiempo_sql)

In [14]:
hechos_alquileres_sql = """
{{ config(materialized='table') }}



SELECT
    ROW_NUMBER() OVER (ORDER BY r.rental_id) AS alquiler_key,
    r.rental_id,
    dp.pelicula_key,
    dc.cliente_key,
    de.empleado_key,
    dt.tienda_key,
    dtm.tiempo_key,
    EXTRACT(EPOCH FROM (r.return_date - r.rental_date))/60 AS duracion_alquiler,
    p.amount AS monto
FROM {{ source('pagila', 'rental') }} AS r
JOIN {{ source('pagila', 'payment') }} AS p ON r.rental_id = p.rental_id
JOIN {{ source('pagila', 'inventory') }} AS i ON r.inventory_id = i.inventory_id
JOIN {{ ref('dim_pelicula') }} AS dp ON i.film_id = dp.film_id
JOIN {{ ref('dim_cliente') }} AS dc ON r.customer_id = dc.customer_id
JOIN {{ ref('dim_empleado') }} AS de ON r.staff_id = de.staff_id
JOIN {{ ref('dim_tienda') }} AS dt ON i.store_id = dt.store_id
JOIN {{ ref('dim_tiempo') }} AS dtm ON DATE(r.rental_date) = dtm.fecha
"""

with open('models/hechos_alquileres.sql', 'w') as f:
    f.write(hechos_alquileres_sql)

In [15]:
dbt_project_yml = """
name: 'pagila_dw_project'
version: '1.0'
config-version: 2

profile: 'pagila_dw_project'

model-paths: ["models"]

target-path: "target"

clean-targets:
  - "target"
  - "dbt_modules"

models:
  pagila_dw_project:
    #+schema: public
    dim_pelicula:
      +materialized: table
    dim_cliente:
      +materialized: table
    dim_empleado:
      +materialized: table
    dim_tienda:
      +materialized: table
    dim_tiempo:
      +materialized: table
    hechos_alquileres:
      +materialized: table
"""

with open('dbt_project.yml', 'w') as f:
    f.write(dbt_project_yml)

In [16]:
# Volvemos al directorio del proyecto
%cd /content/pagila_dw_project

# Ejecutar dbt
!dbt run --profiles-dir /root/.dbt --project-dir .

/content/pagila_dw_project
20:21:22  Running with dbt=1.8.8
20:21:23  Registered adapter: postgres=1.8.2
20:21:23  Unable to do partial parsing because saved manifest not found. Starting full parse.
20:21:25  Found 6 models, 15 sources, 423 macros
20:21:25
20:21:25  Concurrency: 4 threads (target='dev')
20:21:25
20:21:25  1 of 6 START sql table model dw.dim_cliente .................................... [RUN]
20:21:25  2 of 6 START sql table model dw.dim_empleado ................................... [RUN]
20:21:25  3 of 6 START sql table model dw.dim_pelicula ................................... [RUN]
20:21:25  4 of 6 START sql table model dw.dim_tiempo ..................................... [RUN]
20:21:25  1 of 6 OK created sql table model dw.dim_cliente ............................... [SELECT 599 in 0.40s]
20:21:25  4 of 6 OK created sql table model dw.dim_tiempo ................................ [SELECT 191 in 0.40s]
20:21:25  3 of 6 OK created sql table model dw.dim_pelicula .............................. [SELECT 2367 in 0.39s]
20:21:25  5 of 6 START sql table model dw.dim_tienda ..................................... [RUN]
20:21:25  2 of 6 OK created sql table model dw.dim_empleado .............................. [SELECT 1500 in 0.42s]
20:21:26  5 of 6 OK created sql table model dw.dim_tienda ................................ [SELECT 500 in 0.15s]
20:21:26  6 of 6 START sql table model dw.hechos_alquileres .............................. [RUN]
20:21:28  6 of 6 OK created sql table model dw.hechos_alquileres ......................... [SELECT 37982 in 2.20s]
20:21:28
20:21:28  Finished running 6 table models in 0 hours 0 minutes and 3.08 seconds (3.08s).
20:21:28
20:21:28  Completed successfully
20:21:28
20:21:28  Done. PASS=6 WARN=0 ERROR=0 SKIP=0 TOTAL=6

In [17]:
import psycopg2

conn = psycopg2.connect(
    dbname="pagila",
    user="postgres",
    password="postgres",
    host="localhost",
    port="5432"
)

cursor = conn.cursor()
cursor.execute("""
    SELECT table_schema, table_name
    FROM information_schema.tables
    WHERE table_name LIKE 'dim_%' OR table_name LIKE 'hechos_%';
""")
tables = cursor.fetchall()
for schema, table in tables:
    print(f"Schema: {schema}, Table: {table}")

cursor.close()
conn.close()

Schema: dw, Table: dim_tiempo
Schema: dw, Table: dim_cliente
Schema: dw, Table: dim_pelicula
Schema: dw, Table: dim_empleado
Schema: dw, Table: dim_tienda
Schema: dw, Table: hechos_alquileres