<a href="https://colab.research.google.com/github/rubuntu/uaa-417-sistemas-de-gestion-de-bases-de-datos-avanzados/blob/main/dbt_sakila_dw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Instalar los paquetes necesarios
!pip install ipython-sql  prettytable==0.7.2 psycopg2-binary dbt-core dbt-postgres

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.5.0)
Requirement already satisfied: prettytable==0.7.2 in /usr/local/lib/python3.10/dist-packages (0.7.2)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.10/dist-packages (2.9.10)
Requirement already satisfied: dbt-core in /usr/local/lib/python3.10/dist-packages (1.8.8)
Requirement already satisfied: dbt-postgres in /usr/local/lib/python3.10/dist-packages (1.8.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: agate<1.10,>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (1.9.1)
Requirement already satisfied: Jinja2<4,>=3.1.3 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (3.1.4)
Requirement already satisfied: mashumaro<4.0,>=3.9 in /usr/local/lib/python3.10/dist-packages (from mashumaro[msgpack]<4.0,>=3.9->dbt-core) (3.14)
Requirement already satisfied: logbook<1.6,>=1.5 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (1.5.3)
Requirement already satisfied: click<9.0,>=8.0.2 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (8.1.7)
Requirement already satisfied: networkx<4.0,>=2.3 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (3.4.2)
Requirement already satisfied: protobuf<5,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (4.25.5)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (2.32.3)
Requirement already satisfied: pathspec<0.13,>=0.9 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (0.12.1)
Requirement already satisfied: dbt-extractor<=0.6,>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (0.5.1)
Requirement already satisfied: minimal-snowplow-tracker<0.1,>=0.0.2 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (0.0.2)
Requirement already satisfied: dbt-semantic-interfaces<0.6,>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (0.5.1)
Requirement already satisfied: dbt-common<1.11.0,>=1.0.4 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (1.10.0)
Requirement already satisfied: dbt-adapters<1.7.1,>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (1.7.0)
Requirement already satisfied: packaging>20.9 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (24.2)
Requirement already satisfied: pytz>=2015.7 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (2024.2)
Requirement already satisfied: pyyaml>=6.0 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (6.0.2)
Requirement already satisfied: daff>=1.3.46 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (1.3.46)
Requirement already satisfied: typing-extensions>=4.4 in /usr/local/lib/python3.10/dist-packages (from dbt-core) (4.12.2)
Requirement already satisfied: Babel>=2.0 in /usr/local/lib/python3.10/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (2.16.0)
Requirement already satisfied: isodate>=0.5.4 in /usr/local/lib/python3.10/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (0.6.1)
Requirement already satisfied: leather>=0.3.2 in /usr/local/lib/python3.10/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (0.4.0)
Requirement already satisfied: parsedatetime!=2.5,>=2.1 in /usr/local/lib/python3.10/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (2.6)
Requirement already satisfied: python-slugify>=1.2.1 in /usr/local/lib/python3.10/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (8.0.4)
Requirement already satisfied: pytimeparse>=1.1.5 in /usr/local/lib/python3.10/dist-packages (from agate<1.10,>=1.7.0->dbt-core) (1.1.8)
Requirement already satisfied: colorama<0.5,>=0.3.9 in /usr/local/lib/python3.10/dist-packages (from dbt-common<1.11.0,>=1.0.4->dbt-core) (0.4.6)
Requirement already satisfied: deepdiff<8.0,>=7.0 in /usr/local/lib/python3.10/dist-packages (from dbt-common<1.11.0,>=1.0.4->dbt-core) (7.0.1)
Requirement already satisfied: jsonschema<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from dbt-common<1.11.0,>=1.0.4->dbt-core) (4.23.0)
Requirement already satisfied: python-dateutil<3.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from dbt-common<1.11.0,>=1.0.4->dbt-core) (2.8.2)
Requirement already satisfied: importlib-metadata<7,>=6.0 in /usr/local/lib/python3.10/dist-packages (from dbt-semantic-interfaces<0.6,>=0.5.1->dbt-core) (6.11.0)
Requirement already satisfied: more-itertools<11.0,>=8.0 in /usr/local/lib/python3.10/dist-packages (from dbt-semantic-interfaces<0.6,>=0.5.1->dbt-core) (10.5.0)
Requirement already satisfied: pydantic<3,>=1.10 in /usr/local/lib/python3.10/dist-packages (from dbt-semantic-interfaces<0.6,>=0.5.1->dbt-core) (2.9.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2<4,>=3.1.3->dbt-core) (3.0.2)
Requirement already satisfied: msgpack>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from mashumaro[msgpack]<4.0,>=3.9->dbt-core) (1.1.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->dbt-core) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->dbt-core) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->dbt-core) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->dbt-core) (2024.8.30)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: ordered-set<4.2.0,>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from deepdiff<8.0,>=7.0->dbt-common<1.11.0,>=1.0.4->dbt-core) (4.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata<7,>=6.0->dbt-semantic-interfaces<0.6,>=0.5.1->dbt-core) (3.21.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<1.11.0,>=1.0.4->dbt-core) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<1.11.0,>=1.0.4->dbt-core) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<1.11.0,>=1.0.4->dbt-core) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema<5.0,>=4.0->dbt-common<1.11.0,>=1.0.4->dbt-core) (0.21.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.10->dbt-semantic-interfaces<0.6,>=0.5.1->dbt-core) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.10->dbt-semantic-interfaces<0.6,>=0.5.1->dbt-core) (2.23.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify>=1.2.1->agate<1.10,>=1.7.0->dbt-core) (1.3)

In [2]:
# Actualizar los paquetes e instalar PostgreSQL
!apt-get update -y
!apt-get install postgresql postgresql-contrib -y

# Iniciar el servicio de PostgreSQL
import os
os.system('service postgresql start')

# Cambiar la contraseña del usuario 'postgres'
!sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'postgres';"

# Crear una nueva base de datos llamada 'pagila'
!sudo -u postgres createdb pagila

# Crear una nueva base de datos llamada 'pagila_dw'
!sudo -u postgres createdb pagila_dw

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:4 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:7 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
postgresql is already the newest version (14+238).
postgresql-contrib is already the newest version (14+238).
0 upgraded, 0 newly installed, 0 to remove and 55 not upgraded.
ALTER ROLE
createdb: error: database creation failed: ERROR:  database "pagila" already exists
createdb: error: database creation failed: ERROR:  database "pagila_dw" already exists

In [3]:
# Descargar el script de creación del esquema de Pagila
!wget https://raw.githubusercontent.com/devrimgunduz/pagila/master/pagila-schema.sql

# Descargar el script de inserción de datos de Pagila
!wget https://raw.githubusercontent.com/devrimgunduz/pagila/master/pagila-data.sql

--2024-11-15 20:33:14--  https://raw.githubusercontent.com/devrimgunduz/pagila/master/pagila-schema.sql
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 52422 (51K) [text/plain]
Saving to: ‘pagila-schema.sql.1’

pagila-schema.sql.1 100%[===================>]  51.19K  --.-KB/s    in 0.009s

2024-11-15 20:33:14 (5.56 MB/s) - ‘pagila-schema.sql.1’ saved [52422/52422]

--2024-11-15 20:33:14--  https://raw.githubusercontent.com/devrimgunduz/pagila/master/pagila-data.sql
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3310905 (3.2M) [text/plain]
Saving to: ‘pagila-data.sql.1’

pagila-data.sql.1   100%[===================>]   3.16M  --.-KB/s    in 0.05s

2024-11-15 20:33:14 (64.0 MB/s) - ‘pagila-data.sql.1’ saved [3310905/3310905]

In [4]:
# Ejecutar el script de creación del esquema
!sudo -u postgres psql pagila < pagila-schema.sql

# Ejecutar el script de inserción de datos
!sudo -u postgres psql pagila < pagila-data.sql

SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
ALTER SCHEMA
ERROR:  type "bıgınt" already exists
ALTER DOMAIN
ERROR:  type "mpaa_rating" already exists
ALTER TYPE
ERROR:  type "year" already exists
ALTER DOMAIN
ERROR:  function "_group_concat" already exists with same argument types
ALTER FUNCTION
ERROR:  function "film_in_stock" already exists with same argument types
ALTER FUNCTION
ERROR:  function "film_not_in_stock" already exists with same argument types
ALTER FUNCTION
ERROR:  function "get_customer_balance" already exists with same argument types
ALTER FUNCTION
ERROR:  function "inventory_held_by_customer" already exists with same argument types
ALTER FUNCTION
ERROR:  function "inventory_in_stock" already exists with same argument types
ALTER FUNCTION
ERROR:  function "last_day" already exists with same argument types
ALTER FUNCTION
ERROR:  function "last_updated" already exists with same argument types
ALTER FUNCTION
ERROR:  relation "customer_customer_id_seq" already exists
ALTER TABLE
SET
SET
ERROR:  relation "customer" already exists
ALTER TABLE
ERROR:  function "rewards_report" already exists with same argument types
ALTER FUNCTION
ERROR:  function "group_concat" already exists with same argument types
ALTER AGGREGATE
ERROR:  relation "actor_actor_id_seq" already exists
ALTER TABLE
ERROR:  relation "actor" already exists
ALTER TABLE
ERROR:  relation "category_category_id_seq" already exists
ALTER TABLE
ERROR:  relation "category" already exists
ALTER TABLE
ERROR:  relation "film_film_id_seq" already exists
ALTER TABLE
ERROR:  relation "film" already exists
ALTER TABLE
ERROR:  relation "film_actor" already exists
ALTER TABLE
ERROR:  relation "film_category" already exists
ALTER TABLE
ERROR:  relation "actor_info" already exists
ALTER TABLE
ERROR:  relation "address_address_id_seq" already exists
ALTER TABLE
ERROR:  relation "address" already exists
ALTER TABLE
ERROR:  relation "city_city_id_seq" already exists
ALTER TABLE
ERROR:  relation "city" already exists
ALTER TABLE
ERROR:  relation "country_country_id_seq" already exists
ALTER TABLE
ERROR:  relation "country" already exists
ALTER TABLE
ERROR:  relation "customer_list" already exists
ALTER TABLE
ERROR:  relation "film_list" already exists
ALTER TABLE
ERROR:  relation "inventory_inventory_id_seq" already exists
ALTER TABLE
ERROR:  relation "inventory" already exists
ALTER TABLE
ERROR:  relation "language_language_id_seq" already exists
ALTER TABLE
ERROR:  relation "language" already exists
ALTER TABLE
ERROR:  relation "nicer_but_slower_film_list" already exists
ALTER TABLE
ERROR:  relation "payment_payment_id_seq" already exists
ALTER TABLE
ERROR:  relation "payment" already exists
ALTER TABLE
ERROR:  relation "payment_p2022_01" already exists
ALTER TABLE
ERROR:  relation "payment_p2022_02" already exists
ALTER TABLE
ERROR:  relation "payment_p2022_03" already exists
ALTER TABLE
ERROR:  relation "payment_p2022_04" already exists
ALTER TABLE
ERROR:  relation "payment_p2022_05" already exists
ALTER TABLE
ERROR:  relation "payment_p2022_06" already exists
ALTER TABLE
ERROR:  relation "payment_p2022_07" already exists
ALTER TABLE
ERROR:  relation "rental_rental_id_seq" already exists
ALTER TABLE
ERROR:  relation "rental" already exists
ALTER TABLE
ERROR:  relation "rental_by_category" already exists
ALTER TABLE
ERROR:  relation "sales_by_film_category" already exists
ALTER TABLE
ERROR:  relation "staff_staff_id_seq" already exists
ALTER TABLE
ERROR:  relation "staff" already exists
ALTER TABLE
ERROR:  relation "store_store_id_seq" already exists
ALTER TABLE
ERROR:  relation "store" already exists
ALTER TABLE
ERROR:  relation "sales_by_store" already exists
ALTER TABLE
ERROR:  relation "staff_list" already exists
ALTER TABLE
ERROR:  "payment_p2022_01" is already a partition
ERROR:  "payment_p2022_02" is already a partition
ERROR:  "payment_p2022_03" is already a partition
ERROR:  "payment_p2022_04" is already a partition
ERROR:  "payment_p2022_05" is already a partition
ERROR:  "payment_p2022_06" is already a partition
ERROR:  "payment_p2022_07" is already a partition
ERROR:  multiple primary keys for table "actor" are not allowed
ERROR:  multiple primary keys for table "address" are not allowed
ERROR:  multiple primary keys for table "category" are not allowed
ERROR:  multiple primary keys for table "city" are not allowed
ERROR:  multiple primary keys for table "country" are not allowed
ERROR:  multiple primary keys for table "customer" are not allowed
ERROR:  multiple primary keys for table "film_actor" are not allowed
ERROR:  multiple primary keys for table "film_category" are not allowed
ERROR:  multiple primary keys for table "film" are not allowed
ERROR:  multiple primary keys for table "inventory" are not allowed
ERROR:  multiple primary keys for table "language" are not allowed
ERROR:  multiple primary keys for table "rental" are not allowed
ERROR:  multiple primary keys for table "staff" are not allowed
ERROR:  multiple primary keys for table "store" are not allowed
ERROR:  relation "film_fulltext_idx" already exists
ERROR:  relation "idx_actor_last_name" already exists
ERROR:  relation "idx_fk_address_id" already exists
ERROR:  relation "idx_fk_city_id" already exists
ERROR:  relation "idx_fk_country_id" already exists
ERROR:  relation "idx_fk_film_id" already exists
ERROR:  relation "idx_fk_inventory_id" already exists
ERROR:  relation "idx_fk_language_id" already exists
ERROR:  relation "idx_fk_original_language_id" already exists
ERROR:  relation "idx_fk_payment_p2022_01_customer_id" already exists
ERROR:  relation "idx_fk_payment_p2022_01_staff_id" already exists
ERROR:  relation "idx_fk_payment_p2022_02_customer_id" already exists
ERROR:  relation "idx_fk_payment_p2022_02_staff_id" already exists
ERROR:  relation "idx_fk_payment_p2022_03_customer_id" already exists
ERROR:  relation "idx_fk_payment_p2022_03_staff_id" already exists
ERROR:  relation "idx_fk_payment_p2022_04_customer_id" already exists
ERROR:  relation "idx_fk_payment_p2022_04_staff_id" already exists
ERROR:  relation "idx_fk_payment_p2022_05_customer_id" already exists
ERROR:  relation "idx_fk_payment_p2022_05_staff_id" already exists
ERROR:  relation "idx_fk_payment_p2022_06_customer_id" already exists
ERROR:  relation "idx_fk_payment_p2022_06_staff_id" already exists
ERROR:  relation "idx_fk_store_id" already exists
ERROR:  relation "idx_last_name" already exists
ERROR:  relation "idx_store_id_film_id" already exists
ERROR:  relation "idx_title" already exists
ERROR:  relation "idx_unq_manager_staff_id" already exists
ERROR:  relation "idx_unq_rental_rental_date_inventory_id_customer_id" already exists
ERROR:  relation "payment_p2022_01_customer_id_idx" already exists
ERROR:  relation "payment_p2022_02_customer_id_idx" already exists
ERROR:  relation "payment_p2022_03_customer_id_idx" already exists
ERROR:  relation "payment_p2022_04_customer_id_idx" already exists
ERROR:  relation "payment_p2022_05_customer_id_idx" already exists
ERROR:  relation "payment_p2022_06_customer_id_idx" already exists
ERROR:  relation "rental_category" already exists
ERROR:  trigger "film_fulltext_trigger" for relation "film" already exists
ERROR:  trigger "last_updated" for relation "actor" already exists
ERROR:  trigger "last_updated" for relation "address" already exists
ERROR:  trigger "last_updated" for relation "category" already exists
ERROR:  trigger "last_updated" for relation "city" already exists
ERROR:  trigger "last_updated" for relation "country" already exists
ERROR:  trigger "last_updated" for relation "customer" already exists
ERROR:  trigger "last_updated" for relation "film" already exists
ERROR:  trigger "last_updated" for relation "film_actor" already exists
ERROR:  trigger "last_updated" for relation "film_category" already exists
ERROR:  trigger "last_updated" for relation "inventory" already exists
ERROR:  trigger "last_updated" for relation "language" already exists
ERROR:  trigger "last_updated" for relation "rental" already exists
ERROR:  trigger "last_updated" for relation "staff" already exists
ERROR:  trigger "last_updated" for relation "store" already exists
ERROR:  constraint "address_city_id_fkey" for relation "address" already exists
ERROR:  constraint "city_country_id_fkey" for relation "city" already exists
ERROR:  constraint "customer_address_id_fkey" for relation "customer" already exists
ERROR:  constraint "customer_store_id_fkey" for relation "customer" already exists
ERROR:  constraint "film_actor_actor_id_fkey" for relation "film_actor" already exists
ERROR:  constraint "film_actor_film_id_fkey" for relation "film_actor" already exists
ERROR:  constraint "film_category_category_id_fkey" for relation "film_category" already exists
ERROR:  constraint "film_category_film_id_fkey" for relation "film_category" already exists
ERROR:  constraint "film_language_id_fkey" for relation "film" already exists
ERROR:  constraint "film_original_language_id_fkey" for relation "film" already exists
ERROR:  constraint "inventory_film_id_fkey" for relation "inventory" already exists
ERROR:  constraint "inventory_store_id_fkey" for relation "inventory" already exists
ERROR:  constraint "payment_p2022_01_customer_id_fkey" for relation "payment_p2022_01" already exists
ERROR:  constraint "payment_p2022_01_rental_id_fkey" for relation "payment_p2022_01" already exists
ERROR:  constraint "payment_p2022_01_staff_id_fkey" for relation "payment_p2022_01" already exists
ERROR:  constraint "payment_p2022_02_customer_id_fkey" for relation "payment_p2022_02" already exists
ERROR:  constraint "payment_p2022_02_rental_id_fkey" for relation "payment_p2022_02" already exists
ERROR:  constraint "payment_p2022_02_staff_id_fkey" for relation "payment_p2022_02" already exists
ERROR:  constraint "payment_p2022_03_customer_id_fkey" for relation "payment_p2022_03" already exists
ERROR:  constraint "payment_p2022_03_rental_id_fkey" for relation "payment_p2022_03" already exists
ERROR:  constraint "payment_p2022_03_staff_id_fkey" for relation "payment_p2022_03" already exists
ERROR:  constraint "payment_p2022_04_customer_id_fkey" for relation "payment_p2022_04" already exists
ERROR:  constraint "payment_p2022_04_rental_id_fkey" for relation "payment_p2022_04" already exists
ERROR:  constraint "payment_p2022_04_staff_id_fkey" for relation "payment_p2022_04" already exists
ERROR:  constraint "payment_p2022_05_customer_id_fkey" for relation "payment_p2022_05" already exists
ERROR:  constraint "payment_p2022_05_rental_id_fkey" for relation "payment_p2022_05" already exists
ERROR:  constraint "payment_p2022_05_staff_id_fkey" for relation "payment_p2022_05" already exists
ERROR:  constraint "payment_p2022_06_customer_id_fkey" for relation "payment_p2022_06" already exists
ERROR:  constraint "payment_p2022_06_rental_id_fkey" for relation "payment_p2022_06" already exists
ERROR:  constraint "payment_p2022_06_staff_id_fkey" for relation "payment_p2022_06" already exists
ERROR:  constraint "rental_customer_id_fkey" for relation "rental" already exists
ERROR:  constraint "rental_inventory_id_fkey" for relation "rental" already exists
ERROR:  constraint "rental_staff_id_fkey" for relation "rental" already exists
ERROR:  constraint "staff_address_id_fkey" for relation "staff" already exists
ERROR:  constraint "staff_store_id_fkey" for relation "staff" already exists
ERROR:  constraint "store_address_id_fkey" for relation "store" already exists
REVOKE
GRANT
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
ERROR:  duplicate key value violates unique constraint "actor_pkey"
DETAIL:  Key (actor_id)=(1) already exists.
CONTEXT:  COPY actor, line 1
ERROR:  duplicate key value violates unique constraint "country_pkey"
DETAIL:  Key (country_id)=(1) already exists.
CONTEXT:  COPY country, line 1
ERROR:  duplicate key value violates unique constraint "city_pkey"
DETAIL:  Key (city_id)=(1) already exists.
CONTEXT:  COPY city, line 1
ERROR:  duplicate key value violates unique constraint "address_pkey"
DETAIL:  Key (address_id)=(1) already exists.
CONTEXT:  COPY address, line 1
ERROR:  duplicate key value violates unique constraint "category_pkey"
DETAIL:  Key (category_id)=(1) already exists.
CONTEXT:  COPY category, line 1
ERROR:  duplicate key value violates unique constraint "store_pkey"
DETAIL:  Key (store_id)=(0) already exists.
CONTEXT:  COPY store, line 1
ERROR:  duplicate key value violates unique constraint "customer_pkey"
DETAIL:  Key (customer_id)=(1) already exists.
CONTEXT:  COPY customer, line 1
ERROR:  duplicate key value violates unique constraint "language_pkey"
DETAIL:  Key (language_id)=(1) already exists.
CONTEXT:  COPY language, line 1
ERROR:  duplicate key value violates unique constraint "film_pkey"
DETAIL:  Key (film_id)=(1) already exists.
CONTEXT:  COPY film, line 1: "1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The C..."
ERROR:  duplicate key value violates unique constraint "film_actor_pkey"
DETAIL:  Key (actor_id, film_id)=(1, 1) already exists.
CONTEXT:  COPY film_actor, line 1
ERROR:  duplicate key value violates unique constraint "film_category_pkey"
DETAIL:  Key (film_id, category_id)=(56, 11) already exists.
CONTEXT:  COPY film_category, line 1
ERROR:  duplicate key value violates unique constraint "inventory_pkey"
DETAIL:  Key (inventory_id)=(1) already exists.
CONTEXT:  COPY inventory, line 1
ERROR:  duplicate key value violates unique constraint "staff_pkey"
DETAIL:  Key (staff_id)=(0) already exists.
CONTEXT:  COPY staff, line 1
ERROR:  duplicate key value violates unique constraint "rental_pkey"
DETAIL:  Key (rental_id)=(2) already exists.
CONTEXT:  COPY rental, line 1
ERROR:  duplicate key value violates unique constraint "payment_p2022_01_pkey"
DETAIL:  Key (payment_date, payment_id)=(2022-01-29 01:58:52.222594+00, 16051) already exists.
CONTEXT:  COPY payment_p2022_01, line 1
ERROR:  duplicate key value violates unique constraint "payment_p2022_02_pkey"
DETAIL:  Key (payment_date, payment_id)=(2022-02-03 01:49:30.663659+00, 16056) already exists.
CONTEXT:  COPY payment_p2022_02, line 1
ERROR:  duplicate key value violates unique constraint "payment_p2022_03_pkey"
DETAIL:  Key (payment_date, payment_id)=(2022-03-02 19:51:40.813503+00, 16053) already exists.
CONTEXT:  COPY payment_p2022_03, line 1
ERROR:  duplicate key value violates unique constraint "payment_p2022_04_pkey"
DETAIL:  Key (payment_date, payment_id)=(2022-04-15 12:28:07.452161+00, 16066) already exists.
CONTEXT:  COPY payment_p2022_04, line 1
ERROR:  duplicate key value violates unique constraint "payment_p2022_05_pkey"
DETAIL:  Key (payment_date, payment_id)=(2022-05-20 15:54:02.174545+00, 16055) already exists.
CONTEXT:  COPY payment_p2022_05, line 1
ERROR:  duplicate key value violates unique constraint "payment_p2022_06_pkey"
DETAIL:  Key (payment_date, payment_id)=(2022-06-21 07:41:50.707316+00, 16050) already exists.
CONTEXT:  COPY payment_p2022_06, line 1
ERROR:  duplicate key value violates unique constraint "payment_p2022_07_pkey"
DETAIL:  Key (payment_date, payment_id)=(2022-07-19 06:32:02.911937+00, 16061) already exists.
CONTEXT:  COPY payment_p2022_07, line 1
 setval
--------
    200
(1 row)

 setval
--------
    605
(1 row)

 setval
--------
     16
(1 row)

 setval
--------
    600
(1 row)

 setval
--------
    109
(1 row)

 setval
--------
    599
(1 row)

 setval
--------
   1000
(1 row)

 setval
--------
   4581
(1 row)

 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

 setval
--------
  16049
(1 row)

 setval
--------
   1500
(1 row)

 setval
--------
    500
(1 row)

In [5]:
import psycopg2

# Configuración de conexión
postgres_config = {
    'user': 'postgres',
    'password': 'postgres',
    'host': 'localhost',
    'port': '5432',
    'database': 'pagila',
}

# Conexión a la base de datos
conn = psycopg2.connect(**postgres_config)
cursor = conn.cursor()

# Listar las tablas en el esquema público
cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")
tables = cursor.fetchall()
print("Tablas en la base de datos pagila:")
for table in tables:
    print(table[0])

cursor.close()
conn.close()

Tablas en la base de datos pagila:
film_actor
address
city
actor
actor_info
category
country
customer
customer_list
film_list
nicer_but_slower_film_list
film
film_category
inventory
language
sales_by_film_category
rental
sales_by_store
staff_list
payment
store
payment_p2022_02
payment_p2022_07
payment_p2022_04
payment_p2022_05
staff
payment_p2022_01
payment_p2022_03
payment_p2022_06

## Proyecto dbt

In [6]:
# Crear un directorio para el proyecto dbt
!mkdir pagila_dw_project
%cd pagila_dw_project

# Inicializar el proyecto dbt
#!dbt init pagila_dw_project

# Crear el directorio de modelos
!mkdir models

mkdir: cannot create directory ‘pagila_dw_project’: File exists
/content/pagila_dw_project
mkdir: cannot create directory ‘models’: File exists

In [7]:
# Crear el directorio .dbt si no existe
!mkdir -p /root/.dbt

# Escribir el archivo profiles.yml
profiles_yml = """
pagila_dw_project:
  target: dev
  outputs:
    dev:
      type: postgres
      host: localhost
      user: postgres
      password: postgres
      port: 5432
      dbname: pagila
      schema: dw
      threads: 4
      keepalives_idle: 0
"""

with open('/root/.dbt/profiles.yml', 'w') as f:
    f.write(profiles_yml)

In [8]:
sources_yml = """
version: 2

sources:
  - name: pagila
    schema: public
    tables:
      - name: actor
      - name: address
      - name: category
      - name: city
      - name: country
      - name: customer
      - name: film
      - name: film_actor
      - name: film_category
      - name: inventory
      - name: language
      - name: payment
      - name: rental
      - name: staff
      - name: store
"""

with open('models/sources.yml', 'w') as f:
    f.write(sources_yml)

In [9]:
dim_pelicula_sql = """
{{ config(materialized='table') }}



WITH film_base AS (
    SELECT
        film_id,
        title AS titulo,
        description AS descripcion,
        release_year AS anio_lanzamiento,
        language_id,
        rental_duration AS duracion_renta,
        rental_rate AS tasa_renta,
        length AS duracion,
        replacement_cost AS costo_reemplazo,
        rating AS clasificacion,
        special_features AS caracteristicas_especiales,
        last_update AS fecha_ultima_actualizacion
    FROM {{ source('pagila', 'film') }}
),
idioma AS (
    SELECT
        language_id,
        name AS idioma
    FROM {{ source('pagila', 'language') }}
),
categoria AS (
    SELECT
        fc.film_id,
        c.name AS categoria
    FROM {{ source('pagila', 'film_category') }} AS fc
    JOIN {{ source('pagila', 'category') }} AS c ON fc.category_id = c.category_id
)

SELECT
    ROW_NUMBER() OVER (ORDER BY fb.film_id) AS pelicula_key,
    fb.film_id,
    fb.titulo,
    fb.descripcion,
    fb.anio_lanzamiento,
    i.idioma,
    fb.duracion_renta,
    fb.tasa_renta,
    fb.duracion,
    fb.costo_reemplazo,
    fb.clasificacion,
    fb.caracteristicas_especiales,
    c.categoria,
    fb.fecha_ultima_actualizacion
FROM film_base AS fb
LEFT JOIN idioma AS i ON fb.language_id = i.language_id
LEFT JOIN categoria AS c ON fb.film_id = c.film_id

"""

with open('models/dim_pelicula.sql', 'w') as f:
    f.write(dim_pelicula_sql)

In [10]:
dim_cliente_sql = """
{{ config(materialized='table') }}



SELECT
    ROW_NUMBER() OVER (ORDER BY customer_id) AS cliente_key,
    c.customer_id,
    c.first_name AS nombre,
    c.last_name AS apellido,
    c.email,
    c.active AS activo,
    a.address AS direccion,
    ci.city AS ciudad,
    co.country AS pais,
    c.create_date AS fecha_creacion,
    c.last_update AS fecha_ultima_actualizacion
FROM {{ source('pagila', 'customer') }} AS c
JOIN {{ source('pagila', 'address') }} AS a ON c.address_id = a.address_id
JOIN {{ source('pagila', 'city') }} AS ci ON a.city_id = ci.city_id
JOIN {{ source('pagila', 'country') }} AS co ON ci.country_id = co.country_id
"""

with open('models/dim_cliente.sql', 'w') as f:
    f.write(dim_cliente_sql)

In [11]:
dim_empleado_sql = """
{{ config(materialized='table') }}



SELECT
    ROW_NUMBER() OVER (ORDER BY s.staff_id) AS empleado_key,
    s.staff_id,
    s.first_name AS nombre,
    s.last_name AS apellido,
    s.email,
    s.store_id AS tienda_id,
    s.active AS activo,
    s.username AS nombre_usuario,
    s.last_update AS fecha_ultima_actualizacion
FROM {{ source('pagila', 'staff') }} AS s
"""

with open('models/dim_empleado.sql', 'w') as f:
    f.write(dim_empleado_sql)

In [12]:
dim_tienda_sql = """
{{ config(materialized='table') }}



SELECT
    ROW_NUMBER() OVER (ORDER BY st.store_id) AS tienda_key,
    st.store_id,
    st.manager_staff_id AS gerente_staff_id,
    a.address AS direccion,
    ci.city AS ciudad,
    co.country AS pais,
    a.postal_code AS codigo_postal,
    a.phone AS telefono,
    st.last_update AS fecha_ultima_actualizacion
FROM {{ source('pagila', 'store') }} AS st
JOIN {{ source('pagila', 'address') }} AS a ON st.address_id = a.address_id
JOIN {{ source('pagila', 'city') }} AS ci ON a.city_id = ci.city_id
JOIN {{ source('pagila', 'country') }} AS co ON ci.country_id = co.country_id
"""

with open('models/dim_tienda.sql', 'w') as f:
    f.write(dim_tienda_sql)

In [13]:
dim_tiempo_sql = """
{{ config(materialized='table') }}



WITH date_range AS (
    SELECT
        MIN(DATE(rental_date)) AS start_date,
        MAX(DATE(rental_date)) AS end_date
    FROM {{ source('pagila', 'rental') }}
),

dates AS (
    SELECT
        generate_series(
            (SELECT start_date FROM date_range),
            (SELECT end_date FROM date_range),
            interval '1 day'
        )::date AS fecha
)

SELECT
    ROW_NUMBER() OVER (ORDER BY fecha) AS tiempo_key,
    fecha,
    EXTRACT(DAY FROM fecha)::INT AS dia,
    EXTRACT(MONTH FROM fecha)::INT AS mes,
    EXTRACT(YEAR FROM fecha)::INT AS anio,
    EXTRACT(QUARTER FROM fecha)::INT AS trimestre,
    TO_CHAR(fecha, 'Day') AS nombre_dia,
    TO_CHAR(fecha, 'Month') AS nombre_mes,
    CASE WHEN EXTRACT(ISODOW FROM fecha) IN (6,7) THEN TRUE ELSE FALSE END AS es_fin_de_semana
FROM dates
ORDER BY fecha
"""

with open('models/dim_tiempo.sql', 'w') as f:
    f.write(dim_tiempo_sql)

In [14]:
hechos_alquileres_sql = """
{{ config(materialized='table') }}



SELECT
    ROW_NUMBER() OVER (ORDER BY r.rental_id) AS alquiler_key,
    r.rental_id,
    dp.pelicula_key,
    dc.cliente_key,
    de.empleado_key,
    dt.tienda_key,
    dtm.tiempo_key,
    EXTRACT(EPOCH FROM (r.return_date - r.rental_date))/60 AS duracion_alquiler,
    p.amount AS monto
FROM {{ source('pagila', 'rental') }} AS r
JOIN {{ source('pagila', 'payment') }} AS p ON r.rental_id = p.rental_id
JOIN {{ source('pagila', 'inventory') }} AS i ON r.inventory_id = i.inventory_id
JOIN {{ ref('dim_pelicula') }} AS dp ON i.film_id = dp.film_id
JOIN {{ ref('dim_cliente') }} AS dc ON r.customer_id = dc.customer_id
JOIN {{ ref('dim_empleado') }} AS de ON r.staff_id = de.staff_id
JOIN {{ ref('dim_tienda') }} AS dt ON i.store_id = dt.store_id
JOIN {{ ref('dim_tiempo') }} AS dtm ON DATE(r.rental_date) = dtm.fecha
"""

with open('models/hechos_alquileres.sql', 'w') as f:
    f.write(hechos_alquileres_sql)

In [15]:
dbt_project_yml = """
name: 'pagila_dw_project'
version: '1.0'
config-version: 2

profile: 'pagila_dw_project'

model-paths: ["models"]

target-path: "target"

clean-targets:
  - "target"
  - "dbt_modules"

models:
  pagila_dw_project:
    #+schema: public
    dim_pelicula:
      +materialized: table
    dim_cliente:
      +materialized: table
    dim_empleado:
      +materialized: table
    dim_tienda:
      +materialized: table
    dim_tiempo:
      +materialized: table
    hechos_alquileres:
      +materialized: table
"""

with open('dbt_project.yml', 'w') as f:
    f.write(dbt_project_yml)

In [16]:
# Volvemos al directorio del proyecto
%cd /content/pagila_dw_project

# Ejecutar dbt
!dbt run --profiles-dir /root/.dbt --project-dir .

/content/pagila_dw_project
20:33:19  Running with dbt=1.8.8
20:33:20  Registered adapter: postgres=1.8.2
20:33:20  Found 6 models, 15 sources, 423 macros
20:33:20
20:33:21  Concurrency: 4 threads (target='dev')
20:33:21
20:33:21  1 of 6 START sql table model dw.dim_cliente .................................... [RUN]
20:33:21  3 of 6 START sql table model dw.dim_pelicula ................................... [RUN]
20:33:21  4 of 6 START sql table model dw.dim_tiempo ..................................... [RUN]
20:33:21  2 of 6 START sql table model dw.dim_empleado ................................... [RUN]
20:33:22  3 of 6 OK created sql table model dw.dim_pelicula .............................. [SELECT 2367 in 0.89s]
20:33:22  1 of 6 OK created sql table model dw.dim_cliente ............................... [SELECT 599 in 0.88s]
20:33:22  4 of 6 OK created sql table model dw.dim_tiempo ................................ [SELECT 191 in 0.88s]
20:33:22  2 of 6 OK created sql table model dw.dim_empleado .............................. [SELECT 1500 in 0.90s]
20:33:22  5 of 6 START sql table model dw.dim_tienda ..................................... [RUN]
20:33:22  5 of 6 OK created sql table model dw.dim_tienda ................................ [SELECT 500 in 0.12s]
20:33:22  6 of 6 START sql table model dw.hechos_alquileres .............................. [RUN]
20:33:22  6 of 6 OK created sql table model dw.hechos_alquileres ......................... [SELECT 37982 in 0.60s]
20:33:22
20:33:22  Finished running 6 table models in 0 hours 0 minutes and 1.98 seconds (1.98s).
20:33:23
20:33:23  Completed successfully
20:33:23
20:33:23  Done. PASS=6 WARN=0 ERROR=0 SKIP=0 TOTAL=6

In [17]:
import psycopg2

conn = psycopg2.connect(
    dbname="pagila",
    user="postgres",
    password="postgres",
    host="localhost",
    port="5432"
)

cursor = conn.cursor()
cursor.execute("""
    SELECT table_schema, table_name
    FROM information_schema.tables
    WHERE table_name LIKE 'dim_%' OR table_name LIKE 'hechos_%';
""")
tables = cursor.fetchall()
for schema, table in tables:
    print(f"Schema: {schema}, Table: {table}")

cursor.close()
conn.close()

Schema: dw, Table: dim_tiempo
Schema: dw, Table: dim_empleado
Schema: dw, Table: dim_cliente
Schema: dw, Table: dim_pelicula
Schema: dw, Table: dim_tienda
Schema: dw, Table: hechos_alquileres

In [18]:
%load_ext sql
%sql postgresql://postgres:postgres@localhost/pagila

In [19]:
%%sql
select * from dw.dim_pelicula limit 10;

 * postgresql://postgres:***@localhost/pagila
10 rows affected.

[(1, 1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2012, 'English             ', 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', ['Deleted Scenes', 'Behind the Scenes'], 'Games', datetime.datetime(2022, 9, 10, 16, 46, 3, 905795, tzinfo=datetime.timezone.utc)),
 (2, 1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2012, 'English             ', 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', ['Deleted Scenes', 'Behind the Scenes'], 'New', datetime.datetime(2022, 9, 10, 16, 46, 3, 905795, tzinfo=datetime.timezone.utc)),
 (3, 1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2012, 'English             ', 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', ['Deleted Scenes', 'Behind the Scenes'], 'Travel', datetime.datetime(2022, 9, 10, 16, 46, 3, 905795, tzinfo=datetime.timezone.utc)),
 (4, 2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2023, 'English             ', 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', ['Trailers', 'Deleted Scenes'], 'Action', datetime.datetime(2022, 9, 10, 16, 46, 3, 905795, tzinfo=datetime.timezone.utc)),
 (5, 2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2023, 'English             ', 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', ['Trailers', 'Deleted Scenes'], 'New', datetime.datetime(2022, 9, 10, 16, 46, 3, 905795, tzinfo=datetime.timezone.utc)),
 (6, 2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2023, 'English             ', 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', ['Trailers', 'Deleted Scenes'], 'Sci-Fi', datetime.datetime(2022, 9, 10, 16, 46, 3, 905795, tzinfo=datetime.timezone.utc)),
 (7, 3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2017, 'Italian             ', 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17', ['Trailers', 'Deleted Scenes'], 'Action', datetime.datetime(2022, 9, 10, 16, 46, 3, 905795, tzinfo=datetime.timezone.utc)),
 (8, 3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2017, 'Italian             ', 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17', ['Trailers', 'Deleted Scenes'], 'New', datetime.datetime(2022, 9, 10, 16, 46, 3, 905795, tzinfo=datetime.timezone.utc)),
 (9, 4, 'AFFAIR PREJUDICE', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', 2023, 'German              ', 5, Decimal('2.99'), 117, Decimal('26.99'), 'G', ['Commentaries', 'Behind the Scenes'], 'Documentary', datetime.datetime(2022, 9, 10, 16, 46, 3, 905795, tzinfo=datetime.timezone.utc)),
 (10, 4, 'AFFAIR PREJUDICE', 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', 2023, 'German              ', 5, Decimal('2.99'), 117, Decimal('26.99'), 'G', ['Commentaries', 'Behind the Scenes'], 'Family', datetime.datetime(2022, 9, 10, 16, 46, 3, 905795, tzinfo=datetime.timezone.utc))]